
<h1>About Page</h1>

<P> Thanks for coming by! This app is still in progress utilizing a Ruby on Rails stack. The final goal of this app is to manage inventory and update it with each purchase. For example, if someone bought a BLT, the expected inventory for bread, mayo, bacon, lettuce, tomato would all be updated concurrently in the store's inventory. This will query and create an expected inventory report when needed that the client (restaurant/grocery) can compare. Seeing the actual inventory vs expected inventory can help a store find deeper clarity on where they're coming up short in procedures or meeting standards. This also benefits the store in assessing the urgency of improvements needed in cost reduction, helping prioritize which issues are hurting the company most and which strengths are setting their venue apart. </P>

<h3>
  You are able to create, read, update, and delete manually. Query-based inventory reductions (ordering) coming soon.
</h3>


<!--<button type="button" class="btn btn-info">Return to Home</button>-->