<h1>Home Page</h1>
<p>Select an option below to begin system management:</p>

<button type="button" class="btn btn-success">Place An Order</button>
<button type="button" class="btn btn-warning">Manual Adjustments</button>
